.container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

.card {
    margin: 0.5rem;
    padding: 1rem;
    border-radius: 0.25rem;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    background-color: rgb(241 245 249);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.card .header {
    margin-bottom: 1rem;
}

.card .title {
    padding-left: 0.5rem;
    display: inline-block;
    font-size: 1.5rem;
    font-weight: bold;
}

.card .last-updated {
    padding-left: 0.5rem;
    display: inline-block;
    font-size: 1rem;
}

.card .button-container {
    margin-bottom: 1rem;
    padding-left: 0.5rem;
    display: flex;
    flex-direction: row;
    gap: 0.25rem;
}

.card .button-container a {
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    padding: 0.25rem;
    cursor: pointer;
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.card .button-container a:hover {
    background-color: rgb(226 232 240);
}

.card .button-container a.active {
    background-color: rgb(0 112 221);
    color: rgb(255 255 255);
}

.card .tier-detail {
    width: 58rem;
}

.card .tier-detail table {
    margin-bottom: 1rem;
    width: 100%;
    table-layout: auto;
    border-collapse: collapse;
    border-radius: 0.25rem;
    border: 1px solid rgb(226 232 240);
}

.card .tier-detail table thead th {
    text-align: left;
    background-color: rgb(241 245 249);
    border-bottom: 1px solid rgb(226 232 240);
    padding: 0.5rem;
}

.card .tier-detail table td {
    background-color: rgb(248 250 252);
    border-bottom: 1px solid rgb(226 232 240);
    padding: 0.5rem;
}

.card .tier-detail table a {
    text-decoration: none;
    color: rgb(0 112 221);
}

.card .tier-list {
    width: 58rem;
    display: grid;
    gap: 0.1rem;
    grid-template-columns: auto repeat(5, minmax(auto, 11rem));
    grid-template-rows: auto repeat(6, minmax(5rem, auto));
}

.card .tier-header {
    padding-left: 0.5rem;
    font-size: 1.5rem;
    font-weight: bold;
}

.card .tier-title {
    width: 3rem;
    border-style: solid;
    border-color: rgb(226 232 240);
    border-radius: 0.25rem;
    background-color: rgb(248 250 252);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.card .tier-title.normal-name {
    font-size: 3rem;
    font-weight: bold;
}

.card .tier-title.alt-name {
    font-size: 1.5rem;
    font-weight: bold;
}

.card .tier-title.legendary {
    background-color: rgb(255, 128, 0);
}

.card .tier-title.epic {
    background-color: rgb(163, 53, 238);
}

.card .tier-title.rare {
    background-color: rgb(0, 112, 221);
}

.card .tier-title.uncommon {
    background-color: rgb(30, 255, 0);
}

.card .tier-title.common {
    background-color: rgb(255, 255, 255);
}

.card .tier-title.poor {
    background-color: rgb(157, 157, 157);
}

.card .tier-container {
    padding: 0.5rem;
    border-style: solid;
    border-color: rgb(226 232 240);
    background-color: rgb(248 250 252);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    gap: 0.25rem;
}

.card .tier-item {
    width: 3rem;
    height: 3rem;
}

.card .tier-item img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 0.25rem;
}
