body {
    margin: 0;
    background-color: rgb(226 232 240);
}

.nav-bar {
    position: relative;
    height: 3rem;
    width: 100%;
    margin-bottom: 1rem;
    padding: 0.25rem 0;
    background-color: rgb(248 250 252);
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nav-bar .left {
    display: flex;
    flex-direction: row;
    padding: 0 1.5rem;
    gap: 0.25rem;
}

.nav-bar .left .card-type-selector {
    display: flex;
    flex-direction: row;
    gap: 0.25rem;
}

.nav-bar .left .card-type-selector div {
    cursor: pointer;
}

.nav-bar .left .card-type-selector .using {
    font-weight: bold;
}

.nav-bar .right {
    padding: 0 1.5rem;
}

.card-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

.card {
    margin: 0.5rem;
    padding: 1rem;
    border-radius: 0.25rem;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    background-color: rgb(241 245 249);
    height: 85vh;
    width: 18vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.card-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.tier-row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    height: 14vh;
}

.tier-title {
    width: 3rem;
    height: 100%;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.tier-title.normal-name {
    font-size: 3rem;
    font-weight: bold;
}

.tier-title.alt-name {
    font-size: 1.5rem;
    font-weight: bold;
}

.tier-list {
    width: 100%;
    height: 100%;
    flex-grow: 1;
    border-style: solid;
    border-color: rgb(226 232 240);
    background-color: rgb(248 250 252);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.tier-content {
    margin: 0.5rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    gap: 0.25rem;
}

.tier-item {
    width: 3rem;
    height: 3rem;
}

.tier-item img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 0.25rem;
}

.legendary {
    background-color: rgb(255, 128, 0);
}

.epic {
    background-color: rgb(163, 53, 238);
}

.rare {
    background-color: rgb(0, 112, 221);
}

.uncommon {
    background-color: rgb(30, 255, 0);
}

.common {
    background-color: rgb(255, 255, 255);
}

.poor {
    background-color: rgb(157, 157, 157);
}
